<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="navigation :: nav"></div>
<!--正文-->
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--问题内容开始-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px;">
                <!--首页条目预览-->
                <h3><span th:text="${question.title}"></span> </h3>
                <span class="text-desc">
                作者：<span th:text="${question.user.name}"></span> |
                发布时间：<span th:text="${#dates.format(question.gmtCreate,'yyyy MMMM dd')}"></span> |
                阅读数：<span th:text="${question.viewCount}"></span>
            </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--内容描述-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${question.description}"></div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="label label-info question-tag" th:each="tag : ${question.tag.split('-')}">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span class="label label-info" th:text="${tag}"></span>
                    </span>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <a th:href="@{'/publish/'+${question.id}}" class="community-menu" th:if="${session.user != null && question.creator == session.user.id}" >
                        <span class="glyphicon glyphicon-edit"></span>
                        编辑
                    </a>
                </div>
                <!--内容描述结束-->
            </div>
            <!--问题内容结束-->

            <!--评论列表开始-->
            <h4>
                <span th:text="${question.commentCount}"></span> 条评论
            </h4>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:each="comment : ${comments}">
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-line-top">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="media">
                        <div class="media-left comment-body">
                            <a href="#">
                                <img class="media-object img-rounded"
                                     th:src="@{${comment.user.avatarUrl}}">
                            </a>
                        </div>
                        <div class="media-body " th:id="${'comment-body-'+comment.id}">
                            <h4 class="media-heading">
                                <span th:text="${comment.user.name}"></span>
                            </h4>
                            <div th:text="${comment.content}"></div>
                            <div class="comment-menu">
                                <span class="glyphicon glyphicon-thumbs-up icon" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-comment icon" aria-hidden="true" th:data-id="${comment.id}" onclick="doubleComment(this)"></span>
                                <span class="pull-right" th:text="${#dates.format(question.gmtCreate,'yyyy MMMM dd HH:mm')}"></span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse" th:id="${'comment-'+comment.id}">
                                <!--二级评论开始-->
                                <!--已放入jquery-->
                                <!--二级评论结束-->
                                <!--二级评论回复框开始-->
                                <div>
                                    <input class="form-control" type="text" placeholder="快来回复ta吧~" th:id="${'input-'+comment.id}">
                                    <button class="btn btn-success pull-right publish-btn" type="submit"  onclick="postDoubleComment(this)" th:data-id="${comment.id}">回复评论</button>
                                </div>
                                <!--级评论回复框结束-->
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-line-buttom">
            </div>
            <!--评论列表结束-->

            <!--回复框界面开始-->
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 comment-input">
                <h3>添加评论</h3>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 th:src="@{${question.user.avatarUrl}}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span th:text="${question.user.name}"></span>
                        </h4>
                    </div>
                </div>
                <div>
                    <input type="hidden" id="question_id" th:value="${question.id}">
                    <textarea class="form-control comment-area" rows="8" id="question_comment"></textarea>
                    <button type="button" class="btn btn-success pull-right publish-btn" onclick="postComment()">回复</button>
                </div>
            </div>
            <!--回复框界面结束-->
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>提问人</h3>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 th:src="@{${question.user.avatarUrl}}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span th:text="${question.user.name}"></span>
                        </h4>
                    </div>
                </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>相关问题</h3>
                <ul class="question-related">
                    <li th:each="related : ${relativedQuestion}">
                        <a th:href="@{'/question/' + ${related.id}}" th:text="${related.title}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>